USE [dw_superstore]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DW_ETL]    Script Date: 13/01/2026 21:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP que elimina el contenido de las dimensiones excepto de DimData y de la tabla de hechos
CREATE OR ALTER PROCEDURE [dbo].[Clean_DW_ETL]
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------------
    -- 1. Borrar la tabla de hechos primero (obligatorio por FK)
    --------------------------------------------------------------------
    DELETE FROM dbo.FactSales;

    --------------------------------------------------------------------
    -- 2. Borrar todas las dimensiones excepto DimDate
    --------------------------------------------------------------------
    DECLARE @sql NVARCHAR(MAX) = N'';

    SELECT @sql = @sql +
        'DELETE FROM ' + QUOTENAME(TABLE_SCHEMA) + '.' + QUOTENAME(TABLE_NAME) + ';' + CHAR(13)
    FROM INFORMATION_SCHEMA.TABLES
    WHERE TABLE_TYPE = 'BASE TABLE'
      AND TABLE_NAME LIKE 'Dim%'
      AND TABLE_NAME <> 'DimDate';

    EXEC(@sql);
END;

